{% extends "base.html" %} {% block title %}JioNow!{% endblock %}

{% block content %} 
<h1 align="center">JioNow!</h1>
<h5 align="center">Who should we match you with?</h5>
<br />
<div class="row">
    <div class="col-sm-3 col-md-6" style="background-color:#D6DBDF;">
      <div class="d-flex flex-column align-items-center p-4 py-2"><img class="rounded-circle" width="70px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></div>
      <h4 align="center">{{ user.first_name }}, {{ user.age }}</h4>
      <h6 align="center">{% for interest in user.interests %} -{{ interest }}- {% endfor %}</h6>
      <br>
      <p align="center">{{ user.message }}</p>
      <br/>
      <p align="center">Please note that these information will be displayed to other users.<br>(Can be updated under 'Profile')</p>
    </div>
    <div class="col-sm-9 col-md-6" style="background-color:#FAE5D3;">
      <br/>
      <h5 align="center">Let's confirm some final details!</h5>
      <br/>
      <div>
        <form method="POST">
          <label for="availability">Availability:</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Select availability</option>
            <option value="1">Now</option>
            <option value="2">Later today</option>
            <option value="3">Tomorrow</option>
            <option value="4">This week</option>
            <option value="5">Weekdays only</option>
            <option value="6">Weekends only</option>
            <option value="7">Anytime</option>
          </select>
        <br/>
        <br/>
          <label for="search_radius">Search Radius:</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Select search radius</option>
            <option value="1">1km</option>
            <option value="2">2km</option>
            <option value="3">4km</option>
            <option value="4">8km</option>
            <option value="5">16km</option>
            <option value="6">No restriction</option>
          </select>
        <br/>
        <br/>
          <label for="activity">Activity:</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Select activity type</option>
            <option value="1">Running/Jogging</option>
            <option value="2">Gym/Working out</option>
            <option value="3">Swimming/Water sports</option>
            <option value="4">Ball games</option>
            <option value="5">Indoor sports</option>
            <option value="6">Chill sports</option>
            <option value="7">Any</option>
          </select>
        <br/>
        <br/>
        <div align="right">
            <button type="submit" class="btn btn-primary">JioNow!</button>
        </div>
        <br/>
        </form>
      </div> 
    </div>
</div>
{% endblock %}
