{% extends "base.html" %} {% block title %}Sign Up{% endblock %}

{% block content %} 
<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input 
          type="email" 
          class="form-control" 
          id="email" 
          name="email" 
          placeholder="Enter email"
        />
    </div>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
          type="text" 
          class="form-control" 
          id="firstName" 
          name="firstName" 
          placeholder="Enter first name"
        />
    </div>
    <div class="form-group">
      <label for="twitterHandle">Twitter Handle</label>
      <input 
        type="text" 
        class="form-control" 
        id="twitterHandle" 
        name="twitterHandle"
        value="@"
        placeholder="Enter twitter handle"
      />
    </div>
    <div class="form-group">
      <label for="teleHandle">Telegram Handle</label>
      <input 
        type="text" 
        class="form-control" 
        id="teleHandle" 
        name="teleHandle"
        value="@"
        placeholder="Enter telegram handle"
      />
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input 
        type="text" 
        class="form-control" 
        id="age" 
        name="age" 
        placeholder="Enter age"
      />
  </div>
  <div class="form-group">
    <label for="gender">Gender</label>
    <br>
    <select class="form-select" aria-label="Default select example" id="gender" name="gender">
      <option selected>Select gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Others">Prefer not to say</option>
    </select>
</div>
  <div class="form-group">
    <label for="interests">Interests(hold ctrl and click for multiple options)</label>
    <br>
    <select class="form-select" aria-label="Default select example" id="interests" name="interests[]" multiple>
      {% for activity in activity_list %}
        <option value={{ activity }}>{{ activity }}</option>
      {% endfor %}
    </select>
</div>
    <div class="form-group">
        <label for="password1">Password</label>
        <input 
          type="password" 
          class="form-control" 
          id="password1" 
          name="password1" 
          placeholder="Enter password"
        />
    </div>
    <div class="form-group">
        <label for="password2">Password (Confirm)</label>
        <input 
          type="password" 
          class="form-control" 
          id="password2" 
          name="password2" 
          placeholder="Confirm password"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
